@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>Use this page to detail your site's privacy policy.</p>
<div id="app">
    <about-comp text="9999999999999999999999"/>
    
</div>

<script src="~/wp/main.js" asp-append-version="true"></script>

